html {
    font-family: 'Arial', sans-serif;
}

html, body {
    margin: 0;
}

body {
    background: #eee;
}

#navbar {
    top: 0;
    background: #fff;
    width: 100%;
    height: 53px;
    margin: 0;
    border-bottom: 1px solid #eee;
    position: fixed;
    z-index: 1;
    color: #333;
    font-weight: 400;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#navbar a {
    color: inherit;
    text-decoration: none;
}

#navbar a:hover {
    opacity: 0.8;
}

#navbar a:active {
    opacity: 0.6;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

h2 {
    font-size: 3.5em;
    margin-top: 100px;
    text-align: center;
}

h3 {
    font-size: 1.6em;
    text-align: center;
    margin-top: -78px;
    padding-top: 78px;
}

.container p {
    color: #606060;
    font-size: 1em;
    line-height: 40px;
}

#logo {
    margin: 0;
    line-height: 53px;
    float: left;
}

#logo h1 {
    margin: 0;
    font-size: 1.5em;
}

#links {
    margin: 0;
    line-height: 53px;
    float: right;
    transition: 0.2s color;
}

#links img {
    width: 250px;
    margin: 0;
    display: none;
}

#links ul {
    margin: 0;
    display: block;
    list-style: none;
    font-size: 1em;
    float: right;
    z-index: 2;
}

#links ul li {
    display: inline;
    padding-left: 20px;
}

#links ul li span {
    display: none;
}

#links i {
    padding-right: 0px;
}

#page__fade {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120vh;
    background-color: #777;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: block;
    z-index: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.menu__button {
    display: none;
    right: 0;
    position: absolute;
    font-size: 20px;
    padding: 0 20px 0 20px;
    float: right;
}

@media screen and (max-width: 760px) {
    #links ul {
        position: absolute;
        right:0;
        top: 0px;
        padding-left: 0;
        width: 0;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        transition: 0.2s width;
        transition-timing-function: ease;
    }

    #header {
        height: 440px;
    }

    #navbar ul li {
        display: block;
        opacity: 0.8;
        min-width: 500px;
        color: #1e1e1e;
        text-align: left;
    }

    #navbar ul li:active {
        background-color: #eeeeee;
    }

    .menu__button {
        display: block;
        z-index: 3;
    }

    #links ul {
        height: 100vh;
        overflow-y: hidden;
    }

    #links ul li i {
        display: none;
    }

    #links ul li span {
        display: inline;
    }

    #links img {
        display: block;
    }
}

/* The css below resets the top right menu when making window big again */
@media screen and (min-width: 761px) {
    #page__fade {
        display: none !important;
    }

    #links {
        color: inherit !important;
    }

    #links ul {
        width: auto !important;
    }
}