html {
    font-family: 'Arial', sans-serif;
}

html, body {
    margin: 0;
}

body {
    background: #eee;
    -webkit-text-size-adjust: 100%;
}

#davidwhitcome__code {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #e0e0e0;
    text-align: center;
    color: #222222;
    font-size: 0.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#davidwhitcome__code a {
    text-decoration: none;
    color: #004c8c;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

#header {
    width: 100%;
    height: 400px;
    max-height: 70vh;
    background: #4a148c;
    color: #F5F5F5; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* For older browsers */
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
    text-align: center;
}

.container p {
    color: #606060;
    font-size: 1em;
    line-height: 40px;
}

/* viewport-fit=cover for apple devices */
/* ios 11 - 11.2 */
@supports (padding-top: constant(safe-area-inset-top)) {
    .container {
        padding-left: max(20px, constant(safe-area-inset-left));
        padding-right: max(20px, constant(safe-area-inset-right));
    }

    #davidwhitcome__code {
        padding-bottom: constant(safe-area-inset-bottom);
    }
}

/* ios versions higher than 11.2 */
@supports (padding-top: env(safe-area-inset-top)) {
    .container {
        padding-left: max(20px, env(safe-area-inset-left));
        padding-right: max(20px, env(safe-area-inset-right));
    }

    #davidwhitcome__code {
        padding-bottom: env(safe-area-inset-bottom);
    }
}
/* viewport-fit=cover for apple devices end */